{% extends 'landing/base.html' %}
{% load blogs_tags %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block navbar %}
{% include 'blog/inc/_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                {% include 'blog_notes.html' %}
            </div>
            <div class="col-md-3">
                {% views_categories %}
            </div>
        </div>
    </div>
{% endblock %}