{% load static %}
<div class="banner-header">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/bootstrap.png' %}" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/css.png' %}" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/django.png' %}" alt="...">
            </div>
        </div>
    </div>
</div>