{% extends 'landing/base.html' %}
{% load static %}
{% load blogs_tags %}
{% load popular_entries_tags %}

{% block title %}
    <title>{{ notes.title }}</title>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'blog/inc/_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-5">
                {% views_categories category_select=category_select %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        {{ notes.category }}
                        <div class="item-views">
                            Колличество просмотров: {{ notes.views }}
                        </div>
                        {% if notes.tag.exists %}
                            <div class="notes-tags">
                                <span>
                                    Tags:
                                    {% for item in notes.tag.all %}
                                        <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                    {% endfor %}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ notes.title }}</h5>
                        <p class="card-text">{{ notes.content }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        Опубликовано: {{ notes.created_at|date:"Y-m-d H:i:s" }}
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar-popular">
                {% popular_notes %}
            </div>
        </div>
    </div>
{% endblock %}