{% extends 'landing/base.html' %}
{% load static %}
{% load blogs_tags %}
{% load popular_entries_tags %}

{% block title %}
    <title>{{ notes.title }}</title>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <section class="section-blog">
        {% include 'blog/inc/_nav.html' %}
        <div class="item-category">
            {% views_categories category_select=category_select %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-5 notes">
                    <h5 class="title-notes text-center">{{ notes.title }}</h5>
                    <p class="notes-category">Категория: <a href="{{ notes.category.get_absolute_url }}">
                        {{ notes.category }}</a></p>
                    <p class="notes-tag">
                        {% if notes.tag.exists %}
                            <span>
                        <i class="fa fa-tags" aria-hidden="true">
                                {% for item in notes.tag.all %}
                                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                {% endfor %}
                        </i>
                    </span>
                        {% endif %}
                    </p>
                    <p class="notes-view"><i class="fa fa-eye" aria-hidden="true"> {{ notes.views }}</i></p>
                    {% if notes.image %}
                        <p class="text-center"><img src="{{ notes.image.url }}" alt=""></p>
                    {% endif %}
                    <p class="notes-content">{{ notes.content|safe|linebreaks }}</p>
                    <p class="notes-is_published"><i class="fa fa-calendar-check-o" aria-hidden="true">
                        {{ notes.created_at|date:"d-m-y  H:i" }}</i></p>
                </div>
                <div class="col-md-4 sidebar-popular">
                    {% include 'search.html' %}
                    {% popular_notes %}
                    {% tags_views %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}