{% load static %}
<img class="blog-header-img" src="{% static 'img/blogs1.jpg' %}" alt="">
<nav class="navbar navbar-expand-lg navbar-light text-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav blog-item">
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>
            <li class="nav-item">
                {% url 'blog' as url_blog %}
                <a class="nav-link {% if url_blog == request.path %} active {% endif %}"
                   href="{{ url_blog }}">Блог</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <div class="user-name-title">Вы вошли как, {{ user.username|title }}
                        <a href="{% url 'logout_user' %}" class="btn btn-primary btn-sm">Выход</a>
                    </div>
                </li>
            {% else %}
                {% url 'login_user' as url_login_user %}
                <li class="nav-item">
                    <a class="nav-link {% if url_login_user == request.path %} active {% endif %}"
                       href="{{ url_login_user }}">Авторизация</a>
                </li>
                {% url 'register_user' as url_register_user %}
                <li class="nav-item">
                    <a class="nav-link {% if url_register_user == request.path %} active {% endif %}"
                       href="{{ url_register_user }}">Регистрация</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>