<ul class="nav nav-pills" id="myTab" role="tablist">
    {% for item in contents %}
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#{{ item.slug }}" role="tab"
               aria-controls="home" aria-selected="true">{{ item.title }}</a>
        </li>
    {% endfor %}
    {% for item in contents_1 %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab"
               href="#{{ item.slug }}" role="tab" aria-controls="profile" aria-selected="false">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
    {% for item in contents %}
        <div class="tab-pane fade show active" id="{{ item.slug }}" role="tabpanel" aria-labelledby="home-tab">
            <p class="content-item">{{ item.content|truncatewords:50 }}</p>
        <p><a href="{{ item.get_absolute_url }}" class="btn btn-shadow btn-pink">{{ item.btn_title }}</a></p>
        <a href="#"><img class="src" src="{{ item.img.url }}" alt="" width="282" height="281"></a>
        </div>
    {% endfor %}
    {% for item in contents_1 %}
        <div class="tab-pane fade show " id="{{ item.slug }}" role="tabpanel" aria-labelledby="home-tab">
            <p class="content-item">{{ item.content|truncatewords:50 }}</p>
        <p><a href="{{ item.get_absolute_url }}" class="btn btn-shadow btn-pink">{{ item.btn_title }}</a></p>
        <a href="#"><img class="src" src="{{ item.img.url }}" alt="" width="282" height="281"></a>
        </div>
    {% endfor %}
</div>




