{% extends 'landing/base.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if update %}
            <button type="submit" class="btn btn-success">Обновить</button>
        {% else %}
            <button type="submit" class="btn btn-success">Добавить</button>
        {% endif %}
    </form>
    </div>
{% endblock %}