<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal">
    <a href="{% url 'messages_delete' item.id %}"></a>удалить
</button>
<div class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">удалить комментарий</h5>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger"><a
                        href="{% url 'messages_delete' item.id %}">удалить</a></button>
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>