.arrow_page_up {
    position: fixed;
    bottom: 60px;
    right: 50px;
    font-size: 40px;
    font-style: italic;
    background-color: rgba(232, 32, 98, 0);
    color: #37f733;
    z-index: 1001;
    border: none;
    display: none;
    transition: all .3s;
    animation: scroll 1.2s infinite linear
}

@keyframes scroll {
    0% {
        transform: translate3d(0, -10%, 0)
    }
    50% {
        transform: translate3d(0, 10%, 0) scale(1.4)
    }
    100% {
        transform: translate3d(0, -10%, 0)
    }
}

.arrow_page_up:hover {
    transform: scale(1.5);
    text-decoration: none;
    outline: none
}

/**{*/
/*    border: solid 1px #f42267;*/
/*}*/

body {
    background-color: rgba(0, 179, 255, .1);
}

.navbar-light .navbar-nav .nav-link::after {
    content: ' ';
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 2px;
    transform: scale(0);
    transition: all .3s
}

.navbar-light .navbar-nav .nav-link:hover::after {
    transform: scale(1);
}

.blog-header-img {
    width: 100%;
    position: relative;
}

.section-blog .navbar {
    margin-top: -11%;
    margin-left: 61%;
    margin-bottom: 8%;

}

.navbar-light .navbar-nav .nav-link {
    font-size: 19px;
    font-weight: 700;
    background-color: rgba(0, 179, 255, .7);
    animation: navbar-type 2s linear infinite;
}

@keyframes navbar-type {
    0% {
        color: #4a5464;
    }
    25% {
        color: #ffffff;
    }
    50% {
        color: #4a5464;
    }
    75% {
        color: #ffffff;
    }
    100% {
        color: #4a5464;
    }
}


.item-category {
    padding-left: 15%;
    background-color: #afc8de;
    margin-top: -1%;
}

.item-category .category .nav-item {
    padding: .5% 4.5%;

}

.item-category .category .nav-item a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding-top: 25px;
}

.item-category .category .nav-item:hover {
    background-color: #2a6ca0;
}

.selected {
    background-color: #2a6ca0;
    color: #ffffff;
    padding-top: 2%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        color: #00b3ff;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #00b3ff;
    }
}

.banner-header {
    margin-top: -1%;
    text-align: center;
}

.banner-header img {
    width: 281px;
    height: 250px;

}

.section-blog a {
    text-decoration: none;
}

.section-blog .card-item {
    transition: all .2s;
    color: #4a5464;

}

.section-blog .card-item:hover {
    box-shadow: 0 20px 20px -20px rgba(196, 186, 186, 1);
}

.section-blog .pagination {
    margin-bottom: 3%;
    margin-top: 1%;
    margin-left: 32%;
}

.section-blog .page-link {
    color: #4a5464;
    border-radius: 50%;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
    font-style: italic;
    padding: 3px 15px;
    background-color: rgba(233, 16, 32, 0);
}

.section-blog .page-item.active .page-link {
    background-color: #2a6ca0;
    border: none;
}

.section-blog .fa-angle-double-right,
.section-blog .fa-angle-double-left {
    color: #2a6ca0;
    font-size: 25px;
    transition: all .3s;
    animation: double-right 1.2s infinite linear;
}

@keyframes double-right {
    50% {
        transform: translate3d(0, 0, 0) scale(1.4);
    }

}

.notes .notes-category,
.notes-view,
.notes-tag {
    padding: 0;
    margin: 0;
}

.notes .notes-is_published {
    margin-top: 15px;
}

.search .form-control {
    position: relative;
    width: 70%;
    border-radius: 25px;
    border-color: #00b3ff;
}

.search .form-control::placeholder {
    padding: 10px 10px;
    font-style: italic;
}

.search .form-search {
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-style: italic;
    border-color: #728197;
}

.search .btn {
    margin-left: 72%;
    margin-top: -20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #7b33f9;
    padding: 5px 10px;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 0 15px 16px #550ad8;
    transition: all .2s
}

.search .btn:hover {
    transform: scale(.9);
    box-shadow: 0 7px 16px #550ad8;

}
.empty-search {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #4a5464;
    font-weight: 600;

}
.empty-search .fa{
    margin-right: 10px;
    color: #2a6ca0;
}

.empty-search span{
    color: #f7145f;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    font-weight: initial;
}


.sidebar-popular .popular-entries,
.tags-section {
    display: block;
    margin-top: 5%;
    font-size: 18px;
    text-align: center;
    border-radius: 24px;
    background-color: rgba(114, 129, 151, .5);
    padding: 5px;
}

.sidebar-popular .popular-entries .fa{
    color: #7b33f9;
    margin-left: -25%;

}
.sidebar-popular .popular-entries span{
    margin-left: 50px;
    font-family: "Palatino Linotype", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    color: #4a5464;
}
.sidebar-popular .br {
    border-top: 1px solid #7b33f9;
}

.popular .popular-title {
    font-size: 16px;
    font-family: "Palatino Linotype", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 28%;
}

.popular img {
    width: 100px;
    height: 75px;
    margin-top: -10px;
}

.popular p {
    margin: 0;
    padding: 0;
    font-family: "Palatino Linotype", sans-serif;
    font-size: 14px;
}

.popular .fa {
    color: #00b3ff;
}

.popular .fa span {
    margin-left: 5px;
    color: #f207af;
}

.popular .btn {
    background-color: #728197;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 10px;
    text-transform: uppercase;
    font-style: italic;
    transition: all .3s;
}

.popular .btn a {
    color: #ffffff;
}

.popular .btn:hover {
    box-shadow: 0 3px 6px #000000;
}
.sidebar-popular .tags-section .fa{
    margin-left: -45%;
    color: #7b33f9;
}
.sidebar-popular .tags-section span{
    margin-left: 120px;
    font-family: "Palatino Linotype", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    color: #4a5464;
}
.sidebar-popular .tags .tag {
    margin-left: 10px;
}

.sidebar-popular .tags .fa {
    color: #f207af;
    font-size: 22px;
}

.sidebar-popular .tags span {
    color: #728197;
    font-size: 18px;
}