
.section-inspire {
    padding-top: 50px;
    background: url("../images/World Map.png") no-repeat center, url("../images/backgraund inspire.png") no-repeat bottom;
    background-size: cover, 100% 37%
}

.section-inspire h3 {
    font-family: 'Palatino Linotype', sans-serif;
    font-size: 33px;
    font-style: italic;
    color: #484848;
    margin-top: 7%;
    padding-left: 10%
}

.section-inspire h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 54px;
    color: #484848;
    max-width: 700px;
    padding-left: 3%
}

.section-inspire ul li a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #484848;
    margin: 20px 25px 15px 15px
}

.section-inspire .nav-pills .nav-link {
    border-radius: 25px
}

.section-inspire .nav-item .nav-link.active {
    background-color: #f42267;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35)
}

.section-inspire .tab-content .content-item {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
    margin-bottom: 25px;
    max-width: 700px;
    min-height: 87px;
    margin-left: 15px
}

.section-inspire .tab-content .btn-pink {
    background-color: #f42267;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    box-shadow: 0 10px 0 rgba(255, 89, 144, .7);
    transition: all .3s;
    margin-left: 25px;
    margin-bottom: 200px
}

.section-inspire .tab-content .btn-pink:hover {
    box-shadow: 0 5px 0 rgba(255, 89, 144, .7);
    background-color: #fb0456;
    transform: scale(.8)
}

.section-inspire .src {
    margin-left: 70%;
    margin-top: -70%
}

.design {
    margin-top: 20px
}

.design img {
    height: 75px;
    width: 68px
}

.design .num {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #fff
}

.design h4 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    height: 72px;
    font-weight: 600
}

.design p {
    font-size: 15px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400
}

.progress-item {
    margin-top: -11%;
    transition: all .3s;
    transform: scale(.8);
    margin-bottom: 25px
}

.progress-item:hover {
    background-color: rgba(64, 40, 106, .5);
    transform: scale(1.15)
}

.progress-item a {
    text-decoration: none
}

@media only screen and (max-width: 1199px) {
    .section-inspire img {
        margin-left: 20%;
        margin-top: 0;
        max-width: 70%
    }

    .section-inspire .src {
        margin-left: 78%;
    }
}

@media only screen and (max-width: 1093px) {
    .section-inspire .src {
        margin-top: -48%;
        margin-left: 70%;
        transform: scale(.8);
    }

    .section-inspire {
        background-size: cover, 100% 35%;
    }
}

@media only screen and (max-width: 991px) {
    .design h4 {
        font-size: 20px;
    }

    .design p {
        font-size: 10px;
    }

    .design .num {
        font-size: 30px;
    }

    .section-inspire {
        background-size: cover, 100% 28%;
    }
}

@media only screen and (max-width: 845px) {
    .section-inspire .src {
        margin-left: 60%;
    }
}

@media only screen and (max-width: 776px) {
    .section-inspire .src {
        margin-left: 55%;
    }
}

@media only screen and (max-width: 769px) {
    .section-inspire .src {
        transform: scale(.7);
    }

    .section-inspire .tab-content .btn-pink {
        margin-bottom: 25%;
    }

    .section-inspire {
        background-size: cover, 100% 30%;
    }

    .section-inspire h3 {
        font-size: 30px;
    }

    .section-inspire h4 {
        font-size: 45px;
    }

    .design img {
        height: 60px;
        width: 53px;
    }

    .section-inspire .src {
        display: none;
    }

    .design h4 {
        font-size: 16px;
    }

    .design p {
        font-size: 14px;
    }

    .design .num {
        font-size: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .section-inspire {
        background-size: cover, 100% 51%;
    }

    .section-inspire h3 {
        font-size: 25px;
    }

    .section-inspire h4 {
        font-size: 30px;
    }

    .design h4 {
        font-size: 18px;
        height: 50px;
    }

    .design p {
        font-size: 16px;
        margin-bottom: 7%;
    }

    .design .num {
        font-size: 18px;
    }

    .progress-item {
        margin-bottom: 2%;
    }

    .design img {
        margin-left: -1%;
    }
}

@media only screen and (max-width: 475px) {
    .section-inspire {
        background-size: cover, 100% 54%;
    }
}

@media only screen and (max-width: 451px) {
    .section-inspire {
        background-size: cover, 100% 51%;
    }
}

@media only screen and (max-width: 389px) {
    .section-inspire {
        background-size: cover, 100% 50%;
    }
}

@media only screen and (max-width: 380px) {
    .section-inspire {
        background-size: cover, 100% 48%;
    }
}

@media only screen and (max-width: 349px) {
    .section-inspire {
        background-size: cover, 100% 50%;
    }
}

