<section class="section-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                {% for item in gallery %}
                <h3>{{ item.title }}</h3>
                <p>{{ item.content }}</p>
                <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="Django-gallery-tab" data-toggle="tab" href="#Django-gallery" role="tab"
                           aria-controls="Django-gallery" aria-selected="true">Django</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="Bootstrap-gallery-tab" data-toggle="tab" href="#Bootstrap-gallery" role="tab"
                           aria-controls="Bootstrap-gallery" aria-selected="false">Bootstrap</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="CSS-gallery-tab" data-toggle="tab" href="#CSS-gallery" role="tab"
                           aria-controls="CSS-gallery" aria-selected="false">Css</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Django-gallery" role="tabpanel" aria-labelledby="Django-gallery-tab">
                        <div class="row gallery text-center">
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_1_dj.url }}">
                                    <img src="{{ item.img_1_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_2_dj.url }}">
                                    <img src="{{ item.img_2_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_3_dj.url }}">
                                    <img src="{{ item.img_3_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_4_dj.url }}">
                                    <img src="{{ item.img_4_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_5_dj.url }}">
                                    <img src="{{ item.img_5_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_6_dj.url }}">
                                    <img src="{{ item.img_6_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_7_dj.url }}">
                                    <img src="{{ item.img_7_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_8_dj.url }}">
                                    <img src="{{ item.img_8_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_9_dj.url }}">
                                    <img src="{{ item.img_9_dj.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Bootstrap-gallery" role="tabpanel" aria-labelledby="Bootstrap-gallery">
                        <div class="gallery row">
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_1_boots.url }}">
                                    <img src="{{ item.img_1_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_2_boots.url }}">
                                    <img src="{{ item.img_2_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_3_boots.url }}">
                                    <img src="{{ item.img_3_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_4_boots.url }}">
                                    <img src="{{ item.img_4_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_5_boots.url }}">
                                    <img src="{{ item.img_5_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_6_boots.url }}">
                                    <img src="{{ item.img_6_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_7_boots.url }}">
                                    <img src="{{ item.img_7_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_8_boots.url }}">
                                    <img src="{{ item.img_8_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_9_boots.url }}">
                                    <img src="{{ item.img_9_boots.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="CSS-gallery" role="tabpanel" aria-labelledby="CSS-gallery-tab">
                        <div class="gallery row">
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_1_css.url }}">
                                    <img src="{{ item.img_1_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_2_css.url }}">
                                    <img src="{{ item.img_2_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_3_css.url }}">
                                    <img src="{{ item.img_3_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_4_css.url }}">
                                    <img src="{{ item.img_4_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_5_css.url }}">
                                    <img src="{{ item.img_5_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_6_css.url }}">
                                    <img src="{{ item.img_6_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_7_css.url }}">
                                    <img src="{{ item.img_7_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_8_css.url }}">
                                    <img src="{{ item.img_8_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                            <div class="col-sm-4 gallery-item">
                                <a href="{{ item.img_9_css.url }}">
                                    <img src="{{ item.img_9_css.url }}" alt="" width="250" height="250">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>