{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/section_form.css' %}">
{% endblock %}

<section class="section-form text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Need Help?</h4>
                <h5>Don't Forget to Contact With Us</h5>
                <p>Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum
                    ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus
                    . </p>
                <form action="#" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Question">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <button type="submit" class="btn mb-5">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>