{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/section_form.css' %}">
{% endblock %}

<section class="section-form text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for item in form_text %}
                <h4>{{ item.title }}</h4>
                <h5>{{ item.title2 }}</h5>
                <p>{{ item.content }}</p>
                {% endfor %}
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn mb-5">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>